body {
  overflow: hidden;
}

.overlay {
  position: relative;
  width: 100vw;
  height: 100vh;

  &.hidden {
    display: none;
  }

  &.start, &.end {
    z-index: 3;
  }

  &.game {
    z-index: 2;
  }
}

canvas {
  z-index: 1;
  position: absolute;
  top: 0;
}