{
    "extends": "airbnb-base",
    "parser": "babel-eslint",
    "rules": {
        "linebreak-style": ["error", "windows"],
        "no-console": "off",
        "arrow-parens": "off",
        "no-use-before-define": "warn",
        "object-curly-newline": "warn"
    },
    "env": {
        "browser": true
    }
}